:root {
  --colorFont: rgba(255, 255, 255, .5);
  --colorFontHover: rgba(255, 255, 255, .85);
  --colorBG: #323232;
  --colorBranch: #262626;
  --rowMargin: 1.5rem;
  --highlight: rgba(255, 255, 255, 0.0625);
  --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
  font-family: Rubik, sans-serif;
  font-size: 12px;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  color: var(--colorFont);
}

#app {
  padding: .325rem .125rem;
  background-color: var(--colorBG);
}

.branch-active:hover {
  color: var(--colorFontHover);
  transition: color 120ms var(--quad) 20ms;
}

.branch-idle {
  cursor: pointer;
  user-select: none;
  padding: .125rem 0px;
  background-color: var(--colorBG);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.branch-active {
  cursor: pointer;
  user-select: none;
  padding: .125rem 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.childBranch {
  cursor: pointer;
  user-select: none;
  padding-left: var(--rowMargin);
  line-height: 1.5rem;
  list-style-type: dot;
  width: 100%;
}

.roots {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: .25rem;
}

.angleNull, .branch-angle, .branch-type {
  max-width: 1rem;
  min-width: 1rem;
  padding: .125rem .25rem;
}

.branch-angleRight {
  max-width: 1rem;
  min-width: 1rem;
  position: relative;
  left: .25rem;
}

.branch-angleDown {
  max-width: 1rem;
  min-width: 1rem;
  position: relative;
  left: 0rem;
}

.branch-name {
  margin-left: .25rem;
  font-size: 1.125rem;
}

.branch-type {
  margin-left: 0rem;
  font-size: 1.125rem;
}

.slot {
  cursor: pointer;
  user-select: none;
  display: block;
  width: 100%;
}
