:root {
  --colorFont: rgba(255, 255, 255, .5);
  --colorFontHover: rgba(255, 255, 255, .85);
  --colorBG: #323232;
  --colorBranch: #262626;
  --rowMargin: 1.5rem;
  --highlight: rgba(255, 255, 255, 0.0625);
  --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
  font-family: Rubik, sans-serif;
  font-size: 12px;
  --totalW: 94%;
  --suffixW: 4rem;

  --borderRad: .4rem;

  --colorInactiveBG: rgba(255, 255, 255, 0.0625);
  --colorSelectBG: rgba(255, 255, 255, 0.0625);
  --colorSelectBGActive: #314356;
  --colorSelectIdle: #a1a1a1;
  --colorSelectActive: #61AFEF;

  --colorNoteBG: rgba(255, 255, 255, 0.0625);
  --colorNoteBGActive: #4B363D;
  --colorNoteIdle: #a1a1a1;
  --colorNoteActive: #E06C75;

  --colorPlusBG: rgba(255, 255, 255, 0.0625);
  --colorPlusBGActive: #384C2B;
  --colorPlusIdle: #a1a1a1;
  --colorPlusActive: #5FA035;

  --colorFindBG: rgba(255, 255, 255, 0.0625);
  --colorFindBGActive: #4C463F;
  --colorFindIdle: #a1a1a1;
  --colorFindActive: #E5C07B;

  --padding: .4rem;
  --colorSlotBG: #252830;
  --colorTagClass: #4C463F;
  --colorFontClass: #E5C07B;
  --colorTagVar: #4B363D;
  --colorFontVar: #E06C75;
  --colorTagProperty: #40444C;
  --colorFontProperty: #ABB2BF;
  --colorTagMethod: #314356;
  --colorFontMethod: #61AFEF;

}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-wrap: wrap;
}



body {
  overflow-x: hidden;
  overflow-y: auto;
  /* color: var(--colorFont); */
}

#app {
  padding: .325rem .125rem;
  background-color: var(--colorBG);
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

/* .prefsBG {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border: 2px solid green;
}

.widget-name h2 {
    font-size: 12px;
}

.widget-name[min-width~="20%"] h2 {
    font-size: 18px;
}

.widget-name[min-width~="50%"] h2 {
    padding: 55px;
    text-align: center;
    font-size: 24px;
}

.widget-name[min-width~="80%"] h2 {
    font-size: 34px;
    color: red;
} */

.resizePanes {
  margin-top: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  /* resize: vertical; */
  overflow-y: scroll;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}


.background {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: var(--colorBG);
  height: 5.5rem;
  z-index: 50;
}

.treeSoil {
  width: 100%;
  display: inline-block;
}

.roots {
  /* overflow-y: scroll;
  overflow-x: hidden; */
  display: flex;
  /* min-width: 20%; */
  width: 100%;
  flex-wrap: wrap;
  margin-left: .25rem;
  /* border: 2px solid red; */
}

.branch-parentHighlight {
  color: var(--colorFontHover);
}

.branch-parentDef {
  color: var(--colorFont);
}

.branch-active:hover, .branch-idle:hover {
  /* color: var(--colorFontHover); */
  transition: color 120ms var(--quad) 20ms;
}

[class^="adobe-icon-"], [class*=" adobe-icon-"] {
  transition: color 120ms var(--quad) 20ms;
}

.limitMar {
  /* border: 2px solid blue; */
  width: 100%;
  position: relative;
  overflow: hidden;
}

.branch-idle {
  /* cursor: pointer; */
  user-select: none;
  padding: .125rem 0px;
  background-color: var(--colorBG);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.branch-active {
  /* cursor: pointer; */
  user-select: none;
  padding: .125rem 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* width: 100%; */
}

.childBranch {
  /* cursor: pointer; */
  user-select: none;
  line-height: 1.5rem;
  /* list-style-type: dot; */
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
}


[class*="wrap"] {
  margin: .125rem 0px .5rem 0px;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  /* width: var(--totalW); */
  width: 50%;
  font-size: 1.125rem;
  /* cursor: pointer; */
}

.liftHovwrap {
  cursor: pointer;
  background-color: var(--colorHover)
}

.liftLock {
  cursor: default;
  opacity: .2;
}

.marMax {
  display: flex;
  /* bottom: 50%; */
  height: 100%;
  /* box-sizing: border-box; */
  /* background-color: red; */
  width: calc(var(--rowMargin));
  z-index: 10;
}

[class^="mar"] {
  position: absolute;
}

.treeTools {
  margin-top: 2.75rem;
  position: fixed;
  display: flex;
  width: 94%;
  flex-wrap: wrap;
  z-index: 90;
}


[class*="btn"] {
  width: 100%;
  text-align: center;
}

.liftbtn, .lockbtn {
}

.liftHov {
}

.liftbtn:active {
  color: var(--colorHover);
}

.btnidle {
  cursor: default;
}

.lockbtn-on {
  background-color: var(--colorHover);
}

.lockwrap:hover {
  background-color: var(--colorHover);
  cursor: pointer;
}


.branch {
  /* position: relative; */
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
}

/* .selector {
  width: calc(100% - var(--rowMargin));
  transition: color 120ms var(--quad) 20ms;
} */

.focus {
  width: calc(100% - var(--rowMargin));
  transition: color 120ms var(--quad) 20ms;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: var(--colorHover);
}

.noFocus {
  width: calc(100% - var(--rowMargin));
  transition: color 120ms var(--quad) 20ms;
  background-color: transparent;
}

.collapseCol {
  display: flex;
  width: calc(var(--rowMargin));
  background-color: var(--colorBG);
}

/* .collapseCol:nth-child(1) {
  background-color: red;
} */

/* .collapseCol:last-of-type {
  background-color: green;
} */

.marMax:hover {
  background-color: var(--highlight);
}


.slot-locked {
  cursor: default;
  user-select: none;
  display: block;
  width: 100%;
}

.slot {
  cursor: pointer;
  user-select: none;
  display: block;
  width: 100%;
}

.angleNull, .branch-angle, .branch-type {
  max-width: 1rem;
  min-width: 1rem;
  padding: .125rem .25rem;
}

.branch-angleRight {
  max-width: 1rem;
  min-width: 1rem;
  position: relative;
  left: .25rem;
}

.branch-angleDown {
  max-width: 1rem;
  min-width: 1rem;
  position: relative;
  left: 0rem;
}

.branch-name {
  margin-left: .25rem;
  font-size: 1.125rem;
}



.branch-type {
  margin-left: 0rem;
  font-size: 1.125rem;
}


.selectLine {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94%;

  /* min-width: var(--totalW); */
  margin-bottom: .5rem;
  z-index: 90;
}

.selectPrefix {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - var(--suffixW));
}

.selectSuffix {
  display: flex;
  justify-content: flex-end;
  width: var(--suffixW);
}

[class^="select-input"] {
  /* padding: 0rem var(--padding) 0rem calc(var(--padding)*2); */
  /* background-color: var(--colorInputIdle); */
  font-size: 1.25rem;
  font-family: Rubik, sans-serif;
  align-items: center;
  padding: 0rem .5rem;
  display: flex;
  color: var(--colorFont);
  /* flex-wrap: wrap; */
  border-style: solid;
  border-width: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border-radius: 2px 2px 2px 2px; */
  /* padding: .25rem .5rem; */
  height: 2.0rem;
  width: 100%;

  /* width: calc(100% - 4rem); */
  /* margin: .75rem 0rem .5rem 0rem; */
}

[class^="select-input"]::-webkit-scrollbar {
  display: none;
}

.select-btn {
  /* border: 2px solid red; */
  font-size: 2rem;
  padding-top: .15rem;
}


.select-input-idle:focus {
  background-color: var(--colorInputIdle);
  outline: 1.35px solid var(--colorBorder);
  outline-offset: -1.35px;
}

.select-input-idle {
  background-color: var(--colorInputIdle);
}

.select-input-active {
  /* background-color: var(--colorInputActive); */
}

[class^="xtag"] {
  transition: background-color 120ms var(--quad)  20ms,
                         color 120ms var(--quad)  20ms;
  position: relative;
  box-sizing: border-box;
  font-weight: 700;
  padding: calc(var(--padding) + .14rem) calc(var(--padding) * 2) var(--padding) calc(var(--padding) * 2);
  /* background-color: rgba(255, 255, 255, 0.065); */
  width: 2rem;
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
}

[class^="xtag-select"] {
  text-shadow: var(--shadowLight);
  padding: 0rem calc(var(--padding) * 2) 0rem calc(var(--padding) * 2);
  font-size: 2rem;
  border-radius: var(--borderRad) 0rem 0rem 0rem;
  color: var(--colorFontProperty);
  cursor: pointer;
}

[class^="xtag-find"] {
  text-shadow: var(--shadowLight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem calc(var(--padding) * 2) 0rem calc(var(--padding) * 2);
  height: 2.0rem;
  font-size: 1.3rem;
  /* color: var(--colorFontProperty); */
  cursor: pointer;
}

[class^="xtag-note"] {
  text-shadow: var(--shadowLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0rem var(--borderRad) 0rem 0rem;
  padding: 0rem calc(var(--padding) * 2) 0rem calc(var(--padding) * 2);
  height: 2.0rem;
  font-size: 1.3rem;
  cursor: pointer;
}

[class^="xtag-plus"] {
  text-shadow: var(--shadowLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0rem var(--borderRad) 0rem 0rem;
  padding: 0rem calc(var(--padding) * 2) 0rem calc(var(--padding) * 2);
  height: 2.0rem;
  font-size: 1.3rem;
  cursor: pointer;
}

[class^="xtag-save"], [class^="xtag-load"], [class^="xtag-export"], [class^="xtag-import"] {
  text-shadow: var(--shadowLight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem calc(var(--padding) * 2) 0rem calc(var(--padding) * 2);
  background-color: var(--colorInactiveBG);
  height: 2.0rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.xtag-save, .xtag-export {
  border-radius: 0rem var(--borderRad) 0rem 0rem;
}



.select-input-active {
  /* margin-top: .5rem; */
  /* text-align: ce */
  display: flex;
  align-items: center;
}

.xtag-lit {
  color: var(--colorFont);
}

.xtag-dark {
  color: var(--colorInactiveBG);
}

[class^="xtag-save"]:hover, [class^="xtag-load"]:hover, [class^="xtag-export"]:hover, [class^="xtag-import"]:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.xtag-select-active {
  background-color: var(--colorSelectBGActive);
}

.xtag-select-idle {
  background-color: var(--colorSelectBG);
}

.xtag-find-idle {
  background-color: var(--colorFindBG);
}

.xtag-find-active {
  background-color: var(--colorFindBGActive);
}


.xtag-plus-idle {
  background-color: var(--colorPlusBG);
}

.xtag-plus-active {
  background-color: var(--colorPlusBGActive);
}

.xtag-note-idle {
  background-color: var(--colorNoteBG);
}

.xtag-note-active {
  background-color: var(--colorNoteBGActive);
}

.xtag-method {
  background-color: var(--colorTagMethod);
  color: var(--colorFontMethod);
}

.xtag-variable {
  background-color: var(--colorTagVar);
  color: var(--colorFontVar);
}


.code {
  /* position: relative; */
  top: 100px;
  padding: .5rem 1rem;
  background-color: var(--colorInputIdle);
  display: flex;
  color: white;
  cursor: pointer;
}
